*.log
*.swp
*~
\#*\#
nohup.out
*.[0-9]
.kent
.cyrus
tacctmpfs*
*.bak
*.cmake-cache
*.orig
s1victor
.victor
victor*
iarchived/
siliu/
mclay/
*.zip
log_lammps*
boost_python2_intel18_python_2_7.log_72good
boost_python3_intel18_python_3_7.log_72good
*.txt
generateIntelRpms.sh
gramA
gramB
*.out
*.org
*.orig

