*.log
*.swp
*~
\#*\#
nohup.out
*.[0-9]
.kent
.cyrus
tacctmpfs*
*.bak
*.cmake-cache
*.orig
s1victor
.victor
victor*
iarchived/
siliu/
mclay/
stampede2/
*.sh
log_*
.nfs*
*.zip
.\#*
slepc
*.1log
rstudio
x
gsl_test
